dist: xenial
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "pypy3.5"
# command to install dependencies
install:
  - python3 setup.py install

jobs:
    include:
        - stage: test
          script: ./scripts/run_tests.sh
        - stage: lint
          script:
              - pip install black
              - ./scripts/run_linter.sh
