dist: xenial
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "pypy3.5"

install:
  - python3 setup.py install

script:
    - ./scripts/run_tests.sh

jobs:
    include:
        - stage: smoketest
          script: ./scripts/run_smoketests.sh
          python:
            - "3.5"
        - stage: smoketest
          script: ./scripts/run_smoketests.sh
          python:
            - "3.6"
        - stage: smoketest
          script: ./scripts/run_smoketests.sh
          python:
            - "3.7"
        - stage: smoketest_pyinstaller
          script: "pip  install pyinstaller && pyinstaller --onefile ./pyinstaller/pretor-psf.py && sh -c 'PATH=$(pwd)/dist/:$PATH ./scripts/run_smoketests.sh'"
          python:
            - "3.7"
        - stage: smoketest_pyinstaller
          script: "pip  install pyinstaller && pyinstaller --onefile ./pyinstaller/pretor-psf.py && sh -c 'PATH=$(pwd)/dist/:$PATH ./scripts/run_smoketests.sh'"
          python:
            - "3.6"
        - stage: smoketest_pyinstaller
          script: "pip  install pyinstaller && pyinstaller --onefile ./pyinstaller/pretor-psf.py && sh -c 'PATH=$(pwd)/dist/:$PATH ./scripts/run_smoketests.sh'"
          python:
            - "3.5"
        - stage: lint
          python:
              - "3.7"
          script: "pip install black && ./scripts/run_linter.sh"
        - stage: complexity
          python:
              - "3.7"
          script: "pip install radon xenon && ./scripts/check_complexity.sh"
