dist: xenial
language: python

install:
  - python3 setup.py install

jobs:
    include:
        - stage: test
          script: ./scripts/run_tests.sh
          python:
              - "3.5"
              - "3.6"
              - "3.7"
              - "pypy3.5"
        - stage: lint
          python:
              - "3.7"
          script:
              - pip install black
              - ./scripts/run_linter.sh
